.book-sec {
  background-color: #333545;
  padding: 30px 0;
}
.info-box {
  width: fit-content;
  height: fit-content;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}
.genre {
  border: 1px solid rgb(255, 255, 255, 0.5);
  color: rgb(255, 255, 255, 0.5);
  border-radius: 12px;
  font-size: 11px;
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
}
.movie-title {
  font-size: 30px;
  font-weight: 400;
  color: #f4f4f4;
}
.movie-dates {
  background-color: #fff;
}
.date{
  background-color: #f84464;
  color: #fff;
}
