.ticket-count {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count-card {
  width: fit-content;
  height: fit-content;
  padding: 20px 55px 25px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
}
.count-img {
  margin: 50px auto 50px auto;
}
.num {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.num:hover {
  background-color: #f84464;
  color: #fff;
}
.num-active {
  background-color: #f84464;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.seat-available {
  width: fit-content;
  margin: 30px auto;
}
.count-btn {
  width: 100%;
  background-color: #f84464;
  color: #fff;
  display: inline-block;
  border: none;
  font-size: 16px;
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
}
.s-type {
  font-size: 12px;
  color: #818181;
}
.s-price {
  font-size: 13px;
  font-weight: 700;
}
.s-avail {
  font-size: 11px;
  font-weight: 500;
  color: green;
}
